/* brown: #411f1f, Mint: #cedebd, Aqua: #86c4ba, cream: faf0d7, offwhite: #f3f3f3 */
body {
    margin: 0px;
}

ul {
    display: flex;  
    list-style: none; 
    margin: 0px; 
    column-gap: 10px;
}

a {
    text-decoration: none;
    color:#EFE4CA;
    margin: 0px;
}

button {
    background-color: #cedebd;
    color:#411f1f;
    max-width: 130px;
    padding: 7px;
    border-radius: 10px;
    font-size: 18px;
}

.hero,
.center,
.inspiration,
.call,
.footer {
    padding: 0px 250px;
}

.hero {
    background-color: #411f1f;
    color: #faf0d7;
    display: flex;
    flex-direction: column;
    
    
}

.header {
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}
.top {
    display: flex;
    justify-content: space-between;
    column-gap: 200px;
    margin: 100px 0;
    
}

.intro {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
}

.mainpic img {
    max-width: 500px;
    
}

.title {
    font-size: 48px;
    font-weight: 800;
}

.words {
    font-size: 18px;
    color: #EFE4CA;
}


.center {
    display: flex;
}

.icon {
    max-width: 200px;
    
}

.inspiration {
    display: flex;
}

.call {
    display: flex;
}

.footer {
    display: flex;
}



